@model FyreApp.ViewModels.Clients.ClientIndexVm

@{
    ViewData["Title"] = "Clients";
}

<h1 class="m-0">Clients</h1>

@if (User.IsInRole("Admin"))
{
    <div>
        <button class="btn btn-primary"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#createClientModal">
            <i class="bi bi-plus-lg"></i> Create client
        </button>
    </div>
}



@if (TempData["Success"] is string successMsg)
{
    <div class="alert alert-success">@successMsg</div>
}

<div class="card">
    <div class="card-body">
        <div class="toolbar">
            @* toolbar: search bar, filters, etc will go here *@
        </div>
        <table class="table table-hover align-middle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Client</th>
                    <th>Primary contact</th>
                    <th>Phone (BH)</th>
                    <th>No. of properties</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var c in Model.Clients)
            {
                <tr class="table-row-link"
                    data-href="@Url.Action("Details", "Clients", new { id = c.Id })">
                    <td>@c.Id</td>
                    <td>@c.Name</td>
                    <td>@c.PrimaryContactName</td>
                    <td>@c.PrimaryContactMobile</td>
                    <td>@((c.Sites?.Count ?? 0))</td>
                    <td>
                        <a asp-controller="Clients"
                        asp-action="Details"
                        asp-route-id="@c.Id"
                        class="btn btn-sm btn-outline-primary">
                            Details
                        </a>
                    </td>
                </tr>
            }
            </tbody>

        </table>
    </div>
</div>


@if (User.IsInRole("Admin"))
{
    @await Html.PartialAsync("_CreateClientModal", Model.Create)
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

    @if (Model.OpenCreateModal)
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var modalEl = document.getElementById("createClientModal");
                var modal = new bootstrap.Modal(modalEl);
                modal.show();
            });
        </script>
    }
}
